*~
*.a
*.app
*.dSYM
*.o
.DS_Store
.sconsign.dblite
obj

# Xcode

xcuserdata
project.xcworkspace
*.pbxuser
*.xcodeproj/*
!*.xcodeproj/default.*
!*.xcodeproj/project.pbxproj
**/*.xcodeproj/*
!**.xcodeproj/default.*
!**/*.xcodeproj/project.pbxproj
